################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
